header.caption                                      { color: white; }
.full .progress div                                 { border-bottom-color: #CC0000; }
.slide::after                                       { right: 60px; }

.slide.shout h2                                     { font-size: 135px; }
.slide h2                                           { margin: -10px 0 16px}
.slide img.svg                                      { max-width: 110%; }
.slide video                                        { max-width: 90%; }
.slide > div                                        { padding: 80px 80px 0px; height: 555px; width: 865px; }
.slide dd                                           { padding: 0; font-size: 20px; color: #666; line-height: 120%; margin-bottom: .5em; }
.slide dt                                           { margin-top: 0; }
.slide a                                            { color: #333; }
.slide a.clear                                      { background: none; }
.slide i.fa                                         { font-style: normal; margin-right: 8px; }
.slide .fa.nomargin                                 { display: inline; margin: 0 !important; }
.slide ul                                           { margin-bottom: .5em; }
.slide ul.inner                                     { padding-left: 2em; }
.slide ul.icons li:before                           { content: ""; }
.slide ul.icons li i                                { margin: 0 -10px 0 40px; text-align: center; }
.slide.tell h2                                      { position: absolute; top: 50%; left: 0px; width: 100%; text-align: center; line-height: 1; font-size: 100px; transform: translateY(-50%); }
.slide code                                         { background-color: rgba(242, 61, 12, 0.37); }
.slide pre                                          { margin-bottom: 1em;  }
.slide pre code                                     { line-height: 175%; }
.slide pre.small code                               { line-height: 110%; font-size: 12px; }
.slide small                                        { font-size: 80%; color: #666; }
.slide small a                                      { color: #666; }
.slide p                                            { margin-bottom: .25em; }
.slide p,
.slide li                                           { line-height: 150%; margin-bottom: .5em; }
.slide blockquote + figcaption                      { margin-top: 0; }
.slide figcaption                                   { margin-top: -10px; }
.slide figure img                                   { max-height: 470px; }
.slide figure.center                                { text-align: center; }
.slide figure.sidebyside figcaption,
.slide figure.sidebyside > img,
.slide figure.sidebyside figcaption                 { display: inline-block; max-width: 60%; margin-right: 1em; line-height: 1.6; }
.slide figure.sidebyside figcaption                 { vertical-align: top; }
.slide ul.numbered                                  { text-align: left; width: 110%; }
.slide ul.numbered li                               { line-height: 100%; }
.slide ul.numbered li:before                        { content: ""; }
.slide figure.handshake > img                       { max-width: 450px; border: 1px solid #666; }
.slide figure.handshake figcaption                  { width: 350px; }
.slide figure.handshake figcaption img              { width: 350px; }
.slide h3                                           { color: #666; font-size: 32px; }
.slide .mark                                        { position: absolute; background-color: rgba(255, 225, 0, 0.24); border: 1px solid black; height: 10px; }
.slide table td                                     { padding: 0.2em 0.25em; }
.slide figure figcaption.narrow                     { margin-top: -25px; }

.slide i.handshake.small,
.slide ul.icons li i.handshake                      { display: inline-block; width: 28px; height: 28px; background: url(../pictures/handshake.svg) no-repeat; background-size: 28px 28px; margin-left: 0px ; margin-right: 0; margin-bottom: -6px; }
.slide ul.icons li.red i.handshake                  { background: url(../pictures/handshake-red.svg) no-repeat; background-size: 28px 28px; margin-right: 4px;}
.slide i.handshake                                  { display: inline-block; width: 80px; height: 80px; background: url(../pictures/handshake-grey.svg) no-repeat; background-size: 80px 80px; margin-left: 0; margin-right: 0; }
.slide ul.icons li i.marginleft                     { margin-left: 2.5em; }

.slide .broken, .broken a                           { color:red; }
.slide .unsecure, .unsecure a                       { color:orange; }
.slide .safe, .safe a                               { color:green; }
.slide .center                                      { width: 100%; text-align: center; }
.slide .logo                                        { width: 110px; vertical-align: middle; margin: .25em; padding: .25em; background-color: white; }

.slide .legend                                      { background-color: white; border-radius: 10px; position: absolute; padding: 0 5px; line-height: 30px; }
.slide .legend.plain                                { top: 210px; left: 210px; border: 1px solid #2020FF; color: #2020FF; }
.slide .legend.asymetric                            { top: 265px; left: 120px; border: 1px solid #9B0B0B; color: #9B0B0B; }
.slide .legend.symetric                             { top: 275px; left: 120px; border: 1px solid #547345; color: #547345; }

#cover *                                            { color: #FFF; }
#cover h2                                           { margin:30px 0 0; background-color: rgba(0, 0, 0, .5); text-align: center; font-size: 70px; }
#cover p                                            { margin:40px 0 0; text-align:center; background-color: rgba(0, 0, 0, .5); font-style: italic; font-size: 40px; }
#cover p.link                                       { display: inline-block; float: right; margin-top: 8em; }
#cover p.link img                                   { width: 100px; position: relative; z-index: 10; margin: .5em .5em 0 .5em; }
#cover p.link a                                     { display: block;  margin: .25em .5em .5em .5em; }
#cover img.logo                                     { position: relative; z-index: 1; background-color: white; padding: .3em; }

#precision figure                                   { width: 100%; margin-top: 2em; }
#precision figure div                               { border: 4px solid black; width: 50%; text-align: center; margin: .5em auto; padding: .5em; }
#precision .tls                                     { background-color: #82D27B; }
#precision .http                                    { background-color: #F5E4B0; }

#presentation ul                                    { display: inline-block; width: 50%;  }
#presentation ul.next                               { float: right;}
#presentation .mappy-home,
#presentation .mappy-immersive                      { width: 430px; position: absolute; top: 340px; border: 1px solid black }
#presentation .mappy-home                           { left: 60px; }
#presentation .mappy-immersive                      { left: 510px; }
#sommaire ul                                        { margin: .5em; }
#sommaire ul li                                     { margin: .75em; }
#interception-traffic-http figcaption,
#interception-traffic-http-bis figcaption,
#interception-traffic-https figcaption              { margin-top: -480px; margin-left: 72px; }
#html-seo p                                         { margin-top: 1em; }
#chiffrement-symetrique figure img                  { margin: 40px 0 20px 0; }
#chiffrement-symetrique figure ul                   { text-align: left; width: 580px; margin: auto; }
#chiffrement-symetrique figure img,
#chiffrement-asymetrique figure img                 { width: 600px; }
#handshake-certificate img.store                    { display: block; border: 1px solid black; position: absolute; top: 450px; left: 460px; width: 460px; }
#cipher-suites ul.small                             { column-count: 4; -moz-column-count: 4; -webkit-column-count: 4; font-size: 12px; font-family: monospace; }
#cipher-suites ul.small li                          { margin: 0; }
#pfs img                                            { max-height: 380px; }
#type-certificats img                               { display: block; margin: 1em auto 0 auto; }
#lets-encrypt h2 img                                { padding: .25em; }
#doutes .portrait                                   { float: right; max-width: 100px; border: 1px solid black; }
#pourquoi-attaquer-la-crypto p                      { margin: 2em 0; }
#bugs img.xkcd-random                               { float: right; margin-top: -25px; }
#bugs img.gotofail                                  { border: 1px solid black; display: inline-black; margin-top: 5px; }
#qa p.link,
#conclusion-details p.link                          { display: block; position: absolute; top: 380px; right: 115px; text-align: right; }
#qa p.link img,
#conclusion-details p.link img                      { width: 160px; position: relative; }
#qa p.link a,
#conclusion-details p.link a                        { display: block; }
#qa figure i                                        { font-size: 300px; color: grey; }
#resources .resources li                            { font-size: 24px; line-height: 110%; }

.slide slide-progression                            { display: block; position: absolute; left: 0; top: 0; width: 100%; }
.slide slide-progression ul                         { background-color: #FFEFEF; border-bottom: 1px solid black; margin: 0; padding: 0 0 0 5px; }
.slide slide-progression li                         { display: inline-block; padding: 0 4px 0 6px; margin: 0; vertical-align: baseline;}
.slide slide-progression                            { color: #CC0000; font-size: 22px; }
.slide slide-progression ul.icons li.closed         { color: #333; }
.slide slide-progression ul.icons li.closed i       { display: none; }
.slide slide-progression ul.icons li.closed span    { font-size: 14px; }
.slide slide-progression ul.icons li.hidden         { display: none; }

.slide devoxx-footer                                { display: none; }
.slide devoxx-footer                                { position: absolute; left: 0; bottom: 0; right: 0; height: 20px; background-color: rgba(16, 0, 26, .9); font-size: 15px; border-bottom: 1px solid black; }
.slide devoxx-footer a                              { background: none; color: #eeeeee; }
.slide devoxx-footer span                           { position:absolute; top: -6px; left: 10px; }
.slide devoxx-footer a.devoxx                       { position: absolute; right: 0; left: auto; }
.slide devoxx-footer img,
.slide.cover devoxx-footer img                      { position: relative; height: 20px; z-index: 1; }

.slide.cover devoxx-footer                          { display: block; }
.slide devoxx-footer                                { display: none; }
